.eunoia{
    color:#004c40;
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
}
header {
    background-color: map-get($font , color1 );
    background-size: cover;
    nav {
        ul {
            li {
                a {color: map-get($font , color2 );
                    text-align: start;
                    font-style: italic;
                    text-transform: lowercase;

                }
            }
        }
    }
}
a, button, p{
    font-family: 'Montserrat', sans-serif;
}
.cobros{
    color:#008e76;
    text-align: start;
    font-style: italic;
    text-transform: lowercase;
}
.ingresar{
    color:#008e76;
    text-align: start;
    font-style: italic;
    text-transform: lowercase;
}