h1,h2,h3,h4,h5{
    color:#1de9b6;
    text-align: center;
    text-transform: lowercase;
}
p{ 
    color: #00b686;
    text-align: start;
    font-style: italic;
    text-transform: lowercase;
}
.descargar{
    color: #00b686;
    text-align: start;
    font-style: italic;
    text-transform: lowercase;
}
/*seccion2 y 3*/
.boton{
   color:#00b686;
   text-align: start;
   font-style: italic;
   text-transform: lowercase;
} 